.BtnItem{
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 0.50%;
    margin-left: 0.50%;
    background-color: #0083FF;
    font-weight: bold;
    transition: .5s;
    border-radius: 10px;
}

.BtnItem:hover{
    background-color: #1065B5;
    transition: .5s;
}
