.producto {
    background-color: rgba(250, 128, 114, 0.6);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width:60%;
    margin-top: 30px;
    margin-left: 20%;
}

h1 {
    text-align: center;
}

.caract{
    border-radius: 10px 10px 0 0;
    text-align: center;
    width: 100%;
}
